Archives
Archives/*
Archives\ dossier/

'Archives dossier'
'Archives dossier'/*
'Archives dossier'/**/*
BACKUP
calendar
inc
include
mpdf60
qrcode
smileys
sound
upload
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/re-zero-dia-tools.iml
